# 👉 Arquivos e pastas geradas pelo Maven
target/
target/jacoco.exec
target/site/jacoco/
.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# 🐳 Docker volumes, arquivos temporários e logs
db_data/
**/db_data/
**/pgdata/
*.log
*.tmp
*.pid
.env
docker-compose.override.yml
docker-compose*.local.yml

# 🔧 Build de produção (caso gere artefatos extras no futuro)
*.mk

# 🧪 IDEs
## IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

## Eclipse / Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## Visual Studio Code
.vscode/

# 🖼️ Arquivos do sistema operacional
.DS_Store
Thumbs.db

# 📊 SonarQube
.scannerwork/

